.animation, .animation_layer {
	height: 1000px;
}

.animation {
  display: block;
	position: relative;
	z-index: 10;
}

.animation_layer {
	background-position: bottom center;
	/* width: 100%; */
  /* background-size: auto 1038px; */
	/* position: absolute; */
	background-size: cover;
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.animation_layer.parallax {
	position: fixed;
}

#bgblue {
  background-image: url(../../assets/aboutus/Aboutbg.png);
	background-size: cover;
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#flora4 {
  background-image: url(../../assets/aboutus/flora4.png);
	background-size: cover;
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#flora3 {
  background-image: url(../../assets/aboutus/flora3.png);
	background-size: cover;
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 850px;
}

#flora2 {
  background-image: url(../../assets/aboutus/flora2.png);
	background-size: cover;
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#flora1 {
  background-image: url(../../assets/aboutus/flora1.png);
	background-size: cover;
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  
}

#flora {
  background-image: url(../../assets/aboutus/flora.png);
  
	background-size: cover;
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

 #shark {
  background-image: url(../../assets/aboutus/shark.png);
  background-size: 60% 35%;
  top:-40%;
  right:40%;
  height:80%;
  width:60%;
} 

#aquaman {
  background-image: url(../../assets/aboutus/AquaMan.png);
  background-size: 25% 15%;
  top: -68%;
  right: -20%;
  height:100%;
  width:80%;

}

/* #bigfish {
  background-image: url(../../assets/aboutus/Big_Fish.png);
 
} */

/* #smallfish {
    background-image: url(../../assets/aboutus/smallfish.png);
   
     background-repeat: no-repeat;
  } */

  ::-webkit-scrollbar {
    width: 10px;          
 }
 
 ::-webkit-scrollbar-thumb {   
   border-radius: 30px;
   background: linear-gradient(#6598cb, #6598cb);
   box-shadow: inset 2px 2px 2px rgba(255,255,255,.25), inset -2px -2px 2px rgba(0,0,0,.25);}
 
 ::-webkit-scrollbar-track {     
   background-color: #fff;
   border-radius:10px;
   background: linear-gradient(to right,#201c29,#201c29 1px,#100e17 1px,#100e17);
 }

/* ::-webkit-scrollbar {
  width: 20px;
}
       
::-webkit-scrollbar-track {
  border-radius: 8px;
  background-image: url("https://i.ibb.co/5150925/tracks.png");
  background-position: -5px;
  background-repeat: repeat-y;
  background-size: 50px;
}
      
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-image: url("https://i.ibb.co/q95CBdZ/train.png");
  background-position:center center;
  background-repeat: no-repeat;
  background-size: 35px;
}  */

.map{
  width: '50%';
}


@media (max-width: 768px) {
  .Aboutus .animation .animation_layer.parallax .logo-image {
    width: 80px;
  }
  .head{
    font-size: 8rem;
  }
  #shark{
    top: -50%;
    background-size: 40%;
  }
  #aquaman{
    top: -70%;
    background-size: 30%;
  }
  #AnimationTooltip{
    display: none;
  }
}

@media (max-width: 500px) {
  .Aboutus .animation .animation_layer.parallax .logo-image {
      width: 80px;
      height: 80px;
      background: none;
  }
  .map{
    width: '100%';
  }
  .head{
    font-size: 6rem;
  }
  #shark{
    top: -60%;
    background-size: 40%;
  }
  #aquaman{
    top: -80%;
    background-size: 30%;
  }
}

@media (max-width: 375px) {
  .Aboutus .animation .animation_layer.parallax .logo-image {
      width: 80px;
      height: 80px;
  }
  .map{
    width: '100%';
  }
  .head{
    font-size: 5rem;
  }
  #shark{
    top: -65%;
    background-size: 40%;
  }
  #aquaman{
    top: -85%;
    background-size: 30%;
  }
}